[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
chardet = "*"
cryptography = "*"
decorator = "*"
docutils = "*"
ebaysdk = "*"
freezegun = "*"
gevent = "*"
greenlet = "*"
idna = "*"
jinja2 = "*"
libsass = "*"
lxml = "*"
markupsafe = "*"
num2words = "*"
ofxparse = "*"
passlib = "*"
pillow = "*"
polib = "*"
psutil = "*"
psycopg2 = "*"
pydot = "*"
pyopenssl = "*"
pypdf2 = "*"
pyserial = "*"
python-dateutil = "*"
python-ldap = "*"
python-stdnum = "*"
pytz = "*"
pyusb = "*"
qrcode = "*"
reportlab = "*"
requests = "*"
urllib3 = "*"
vobject = "*"
xlrd = "*"
xlsxwriter = "*"
xlwt = "*"
zeep = "*"
unidecode = "*"
werkzeug = "==0.16.1"

[dev-packages]

[requires]
python_version = "3.9"
